@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anakotmai";
  src: url("../fonts/anakotmai-medium.woff2") format("woff2"),
    url("../fonts/anakotmai-medium.woff") format("woff"),
    url("../fonts/anakotmai-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anakotmai";
  src: url("../fonts/anakotmai-bold.woff2") format("woff2"),
    url("../fonts/anakotmai-bold.woff") format("woff"),
    url("../fonts/anakotmai-bold.eot") format("eot");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anakotmai";
  src: url("../fonts/anakotmai-light.woff2") format("woff2"),
    url("../fonts/anakotmai-light.woff") format("woff"),
    url("../fonts/anakotmai-light.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

.form-container {
  @apply gap-3 lg:gap-2;
  grid-template-columns: max-content 1fr;
}

.form-container:not(.form-container-sm) {
  @apply grid items-center justify-center;
}

.form-container.form-container-sm {
  @apply flex flex-col lg:grid md:items-center md:justify-center;
}

.form-container > *:nth-child(odd) {
  @apply md:mr-8;
}
.form-container > *:nth-child(even) {
  @apply w-full;
}

.form-container > b {
  @apply font-medium;
}

@media print {
  .pagebreak {
    break-after: page;
  }
}
